@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

#home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h1{
 text-align: center;
}

#img2{
    grid-column: 2/3;
    grid-row: 2/3;

}
p{
    padding: 10px;
    line-height: 50px;
    margin-top: -15PX;
}

#logo_img{
    width: 100px;
}

header{
    display: grid;
    grid-template-columns: 150px auto;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav a{
    padding: 35px;
    background-color: white;

}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: #ffffff;

}

footer .social{
    padding-top: 15px;
}

body{
    background-color:#396E94;
}

header{
    background-color:#ffffff;

}

nav a:hover{
    background-color:#A0AECD;
}
